{#Affichage interactif avec toast des pop-up#}
{#Affichage de tout les messages avec toast#}
{% if messages %}
    {% for message in messages %}
        {#Message de succes#}
        {% if message.tags == 'success' %}
            <script>M.toast({
                html: "{{ message }}", classes: 'green rounded',
                displayLenght: 2000
            });</script>
            {#Message informatif#}
        {% elif message.tags == 'info' %}
            <script>M.toast({
                html: "{{ message }}", classes: 'blue rounded',
                displayLenght: 2000
            });</script>
            {#Message preventif#}
        {% elif message.tags == 'warning' %}
            <script>M.toast({
                html: "{{ message }}", classes: 'orange rounded',
                displayLenght: 10000
            });</script>
            {#Message d'erreur#}
        {% elif message.tags == 'error' %}
            <script>M.toast({
                html: "{{ message }}", classes: 'red rounded',
                displayLenght: 10000
            });</script>
        {% endif %}
    {% endfor %}
{% endif %}